<br>
<br>
<br>
<br>
<h1 class="index">The Shop Inventory system was a CodeClan week 5 project to consolidate our learning so far in <span>Ruby</span>, <span>SQL</span>, <span>Sinatra</span>, <span>HTML</span> and <span>CSS</span>.</h1><br>
<h1 class="index">The brief was to allow a shop keeper to track their inventory,, add, edit and delete items, have visual cues for low or out of stock products, automatically calucalte the markup percentage and allow filtering.</h1><br>
<h1 class="index">I decided to create a <span>Record Shop</span> with the ability to filter by <span>Record Labels</span> and <span>Genre</span> as well as offering full CRUD functionality for the database entries.</h1>
<br>
<br>
<br>
<br>
<hr>
