<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Record Shop</title>
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="/products">All Products</a></li>
        <li><a href="/record-labels">All Record Labels</a></li>
        <li><a href="/products/new">Add Product</a></li>
        <li><a href="/record-labels/new">Add Record Label</a></li>
        <li><a href="/genres/new">Add Genre</a></li>
      </ul>
    </div>
      <%= yield %>
  </body>
</html>
