<form action="/record-labels" method="post" autocomplete="off">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" required><br>


  <input type="submit" value="Add Label">
</form>
