<h2>Add Record Label</h2>
<hr>
<form action="/record-labels" method="post" autocomplete="off">
  <label for="name">Record Label Name</label>
  <input id="name" type="text" name="name" required>


  <input type="submit" value="Add Label">
</form>
