<h2>Add Genre</h2>
<hr>
<form action="/genres" method="post" autocomplete="off">
  <label for="name">Genre</label>
  <input id="name" type="text" name="name" required>


  <input type="submit" value="Add Genre">
</form>
