body {
  background-color: #fdfefe;
  font-family: input-mono, sans-serif;
}
a.menu-head {
  color: #fdfefe;
  font-family: input-mono, monospace;
  font-size: 16px;
  border-bottom: 2px solid #ffaa33;
  text-decoration: none;
}
a.menu {
  color: #fdfefe;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 2px solid #ffaa33;
  font-family: input-mono, monospace;
  font-weight: 400;
}
a.menu:hover{
  font-style: italic;
  background-color: #ffaa33;
}
a.menu-head:hover{
  background-color: #ffaa33;
}
a.table {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #ffaa33;
}
a.table:hover {
  background-color: #ffaa33;
}
div.header {
  background-color: #919fa1;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
div.form{
  display: flex;
  padding-right: 20px;
  width: 45%;
}
.form input {
  width: 80%;
  clear: both;
}
#year, #format, #record-label, #genre{
  width: 150px;
}
div.homepage{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
div.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
div.shopname {
  color: #fdfefe;
}
hr {
  height: 3px;
  color: #ffaa33;
  background-color: #ffaa33;
  border: none;
}
hr.divider {
  height: 1px;
  color: #ffaa33;
  background-color: #ffaa33;
  border: none;
}
h1.header{
  font-family: input-mono, monospace;
  padding-left: 2px;
  align-items: center;
  font-size: 36px;
  border-bottom: 3px solid #ffaa33;
  text-decoration: none;
}
h2{
  font-family: input-mono, monospace;
  margin-top: 5px;
  margin-bottom: 5px;
}
p{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 5px;
}
em{
  text-decoration: underline;
  text-decoration-color: #ffaa33;
}
img.logo{
  width: 125px;
  float: left;
}
img.homepage-img{
  width: 175px;
}
img.details-img{
  width: 250px;
}
table.menu {
  text-align: left;
  text-decoration: none;
}
table {
  font-size: 13px;
  text-align: left;
  padding-left: 5px;
}
table.products{
  width: 250px;
}
table.products-second{
  width: 190px;
}
th, td {
  padding-bottom: 3px;
  font-size: 11px;
}
th, td.menu {
  padding-left: 5px;
}
td.warning {
  color: red;
  text-decoration: underline;
  font-style: italic;
}
td.low {
  color: #ffaa33;
}
td.in-stock {
  color: green;
}
td.center{
  text-align: center;
}
td.italic{
  font-style: italic;
}
th.body {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 14px;
}
input[type=submit]{
  font-family: input-mono, sans-serif;
  color: #fdfefe;
  background-color: #ffaa33;
  width: 110px;
}
input[type=submit][value=Delete]{
  background-color: #ff4433;
}
input[type=submit][value=Back]{
  background-color: #00a962;
}
input[type=text]{
  font-family: input-mono, sans-serif;
}
