body {
  background-color: #fdfefe;
  font-family: input-mono, sans-serif;
}
a.menu-head {
  color: #fdfefe;
  text-decoration: none;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 18px;
}
a.menu {
  color: #fdfefe;
  text-decoration: none;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
a.table {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #ffaa33;
}
a.table:hover {
  background-color: #ffaa33;
}
div.header {
  background-color: #919fa1;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
div.container{
  display: flex;
  padding-right: 20px;
  width: 45%;
}
div.homepage{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
div.shopname {
  color: #fdfefe;
}
hr {
  height: 3px;
  color: #919fa1;
  background-color: #919fa1;
  border: none;
}
hr.divider {
  height: 1px;
  color: #919fa1;
  background-color: #919fa1;
  border: none;
}
h1.header{
  font-family: neue-haas-grotesk-display, sans-serif;
  padding-left: 2px;
  align-items: center;
  font-size: 30px;
}
img.logo{
  width: 125px;
  float: left;
}
img.homepage-img{
  width: 175px;
}
img.details-img{
  width: 250px;
}
table.menu {
  margin-left: auto;
  margin-right: 0;
  text-align: left;
  text-decoration: none;
}
table {
  font-size: 13px;
  text-align: left;
  padding-left: 5px;
}
table.products{
  width: 250px;
}
table.products-second{
  width: 150px;
}
th, td {
  padding-bottom: 3px;
  font-size: 11px;
}
th, td.menu {
  padding-left: 5px;
}
td.warning {
  color: red;
  text-decoration: underline;
  font-style: italic;
}
td.center{
  text-align: center;
}
td.italic{
  font-style: italic;
}
th.body {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 14px;
}
input[type=submit]{
  font-family: input-mono, sans-serif;
  color: #fdfefe;
  background-color: #ffaa33;
  width: 150px;
}
input[type=submit][value=Delete]{
  background-color: #ff4433;
}
input[type=submit][value=Back]{
  background-color: #00a962;
}
input[type=text]{
  font-family: input-mono, sans-serif;
}
